#wb_header { background: #384b5f none repeat scroll left top; height: 129px; }
#wb_header { height: 129px; }
#wb_main { background: #ffffff none repeat scroll left top; height: 666px; padding: 0 0 50px 0; }
#wb_main { height: 666px; }
#wb_footer { background: #384b5f none repeat scroll left top; height: 100px; }
#wb_footer { height: 100px; }
body { background: #5fa8c2 none repeat scroll left top; }
.wb_sbg { background: #5fa8c2 none repeat-x scroll left top; }
body, .wb_sbg { min-width: 1333px; min-height: 916px; }
.root { width: 1333px; height: 916px; overflow: visible; }
#wb_element_instance1023 { left: 210px; top: 60px; min-width: 1030px; width: 1030px; min-height: 40px; height: 40px; display: block; z-index: 3012; }
#wb_element_instance1023 ul { background: transparent none repeat scroll left top; border: 0px none #000000; }
#wb_element_instance1023, #wb_element_instance1023 ul { text-align: left; }
#wb_element_instance1023 ul ul { background: #333f52 none repeat scroll left top; }
#wb_element_instance1023 li { margin: 10px 10px 10px 10px; }
#wb_element_instance1023 li a { text-transform: none; border: 0px none #000000; padding: 2px 2px 2px 2px; font: normal normal 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: #333f52 none repeat scroll left top; }
#wb_element_instance1023 li:hover > a, #wb_element_instance1023 li:focus > a { border: 0px none #000000; font: normal normal 16px 'Open Sans',sans-serif; text-decoration: underline; color: #e7404e; line-height: 18px; background: transparent none repeat scroll left top; }
#wb_element_instance1023 li.active > a { border: 0px none #000000; font: normal normal 16px 'Open Sans',sans-serif; text-decoration: none; color: #5fa8c2; line-height: 18px; background: transparent none repeat scroll left top; }
#wb_element_instance1024 { left: 0px; top: 38px; min-width: 1330px; width: 1330px; min-height: 90px; height: 90px; display: block; z-index: 3011; }
#wb_element_instance1024 > div { width: 1330px; height: 90px; background: #333f52; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance1025 { left: 0px; top: 59px; min-width: 190px; width: 190px; min-height: 40px; height: 40px; display: block; z-index: 3013; }
#wb_element_instance1025 a span { padding: 10px 0px 0px 0px; }
#wb_element_instance1025 a { width: 190px; height: 40px; }
#wb_element_instance1025 a { font-family: 'Open Sans',sans-serif; font-size: 30px; text-align: center; border: 0px solid transparent; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; color: #ffffff; font-style: normal; font-weight: normal; text-decoration: none; background: transparent none repeat scroll left top; }
#wb_element_instance1025 a:hover { color: #e7404e; font-style: normal; font-weight: normal; text-decoration: none; background: transparent none repeat scroll left top; }
#wb_element_instance1025 a:active { color: #5fa8c2; font-style: normal; font-weight: normal; text-decoration: none; background: transparent none repeat scroll left top; }
#wb_element_instance1026 { left: 1064px; top: 10px; min-width: 250px; width: 250px; min-height: 500px; height: 500px; display: block; z-index: 1123; }
#wb_element_instance1027 { left: 0px; top: 3px; min-width: 1333px; width: 1333px; min-height: 1px; height: 1px; display: block; z-index: 1124; }
#wb_element_instance1028 { left: 1030px; top: 546px; min-width: 300px; width: 300px; min-height: 300px; height: 300px; display: block; z-index: 1125; }
#wb_element_instance1029 { left: 550px; top: 25px; min-width: 400px; width: 400px; min-height: 56px; height: 56px; display: block; z-index: 2114; }
#wb_element_instance1030 { left: 180px; top: 10px; min-width: 940px; width: 940px; min-height: 656px; height: 656px; display: block; z-index: 104; }
#wb_element_instance1031 { left: 0px; top: 866px; display: block; z-index: 9000; }
#wb_element_instance1032 { left: 0px; top: 101px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	body, .wb_sbg { min-width: 1333px; min-height: 916px; }
	.root { width: 1333px; height: 916px; overflow: visible; }
	#wb_element_instance1023 { left: 210px; top: 60px; min-width: 1030px; width: 1030px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance1024 { left: 0px; top: 38px; min-width: 1330px; width: 1330px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance1024 > div { width: 1330px; height: 90px; }
	#wb_element_instance1025 { left: 0px; top: 59px; min-width: 190px; width: 190px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance1025 a span { padding: 10px 0px 0px 0px; }
	#wb_element_instance1025 a { width: 190px; height: 40px; }
	#wb_element_instance1026 { left: 1064px; top: 10px; min-width: 250px; width: 250px; min-height: 500px; height: 500px; display: block; }
	#wb_element_instance1027 { left: 0px; top: 3px; min-width: 1333px; width: 1333px; min-height: 1px; height: 1px; display: block; }
	#wb_element_instance1028 { left: 1030px; top: 546px; min-width: 300px; width: 300px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance1029 { left: 550px; top: 25px; min-width: 400px; width: 400px; min-height: 56px; height: 56px; display: block; }
}

@media (min-width: 992px) {
	body, .wb_sbg { min-width: 1333px; min-height: 916px; }
	.root { width: 1333px; height: 916px; overflow: visible; }
	#wb_element_instance1023 { left: 210px; top: 60px; min-width: 1030px; width: 1030px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance1024 { left: 0px; top: 38px; min-width: 1330px; width: 1330px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance1024 > div { width: 1330px; height: 90px; }
	#wb_element_instance1025 { left: 0px; top: 59px; min-width: 190px; width: 190px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance1025 a span { padding: 10px 0px 0px 0px; }
	#wb_element_instance1025 a { width: 190px; height: 40px; }
	#wb_element_instance1026 { left: 1064px; top: 10px; min-width: 250px; width: 250px; min-height: 500px; height: 500px; display: block; }
	#wb_element_instance1027 { left: 0px; top: 3px; min-width: 1333px; width: 1333px; min-height: 1px; height: 1px; display: block; }
	#wb_element_instance1028 { left: 1030px; top: 546px; min-width: 300px; width: 300px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance1029 { left: 550px; top: 25px; min-width: 400px; width: 400px; min-height: 56px; height: 56px; display: block; }
}

@media (min-width: 1200px) {
	body, .wb_sbg { min-width: 1333px; min-height: 916px; }
	.root { width: 1333px; height: 916px; overflow: visible; }
	#wb_element_instance1023 { left: 210px; top: 60px; min-width: 1030px; width: 1030px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance1024 { left: 0px; top: 38px; min-width: 1330px; width: 1330px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance1024 > div { width: 1330px; height: 90px; }
	#wb_element_instance1025 { left: 0px; top: 59px; min-width: 190px; width: 190px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance1025 a span { padding: 10px 0px 0px 0px; }
	#wb_element_instance1025 a { width: 190px; height: 40px; }
	#wb_element_instance1026 { left: 1064px; top: 10px; min-width: 250px; width: 250px; min-height: 500px; height: 500px; display: block; }
	#wb_element_instance1027 { left: 0px; top: 3px; min-width: 1333px; width: 1333px; min-height: 1px; height: 1px; display: block; }
	#wb_element_instance1028 { left: 1030px; top: 546px; min-width: 300px; width: 300px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance1029 { left: 550px; top: 25px; min-width: 400px; width: 400px; min-height: 56px; height: 56px; display: block; }
}
